<%- include('partials/header') -%>
<section id="highlights" class="wrapper style2">
  <div class="title">Edit Post</div>
<div class="container">
  <div class="">
    <div class="">
      <h1><%= post.title %></h1>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row p-5 justify-content-between">
        <form
          class=""
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="buttom style1 fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class=""
        >
          <button class="button style2 fa fa-trash" type="submit"></button>
        </form>
        <form
        action="/post/editPostPage/<%= post.id %>"
        class=""
        >
        <button class="button style1" type="submit">edit</button>
      </form>


        <%}%>
      </div>
    
      <div class="">
        <p><%= post.caption %></p>
      </div>
  </div>




 <div class="">
    <h2>Edit your post</h2>
    <form action="/post/editPost/<%= post.id %>?_method=PUT"  method="POST">
      <div class="">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" value="<%=post.title%>" name="title">
      </div>
      <div class="">
        <label for="caption" class="form-label">Caption</label>
        <textarea class="form-control" id="caption" name="caption"><%=post.caption%></textarea>
      </div>
     
      <button type="submit" class="button style3" value="">Submit</button>
    </form>
  </div>

  <div class="">
    <a class="button style3 " href="/profile">Return to Profile</a>
    <div class=""></div>
    <a class="button style3 " href="/feed">Return to Feed</a>
    <div class=""></div>
    <a href="/logout" class="button style3 ">Logout</a>
    <div class=""></div>
  </div>
</div>
</div>
</section>

<%- include('partials/footer') -%>