<%- include('partials/header') -%>
<!-- Main -->
<section id="main" class="wrapper style2">
  <div class="title">Welcome Back, <%= user.userName %></div>
  <div class="container">

    <!-- Image -->
    <div class="container">
    <div class="col-1 col-6-medium">
      <div class="col-6">
      <section class="highlight">
      <a href="#" class="image fit featured">
        <img class="image fit featured" src="<%= user.profilePicture%>" alt="profile picture" />
      </a>
      </section>
      </div>
    </div>
    </div>

    <!-- Features -->
      <section id="features">
        <header class="style1">
          <h2><%= user.greeting%></h2>
          <p>Please enjoy your visit.</p>
        </header>
       
        <ul class="actions special">
          <li><a href="#" class="button style1 large">Get Started</a></li>
          <li><a href="#" class="button style2 large">More Info</a></li>
        </ul>
      </section>

  </div>
</section>

<!-- Highlights -->
<section id="highlights" class="wrapper style3">
  <div class="title">In Loving Memory</div>
  <div class="container">
    <div class="row aln-center">
      
       
          <% for(var i=0; i<posts.length; i++) {%>
            <div class="col-4 col-12-medium">
            <section class="highlight">
            <li class="">
              <a href="/post/<%= posts[i]._id%>">
                <img class="image fit featured" src="<%= posts[i].image%>">
              </a>
            </li>
         
          <h3><a href="#"><%=`${posts[i].title}`%></a></h3>
          <p><%=`${posts[i].caption}`%></p>
          <ul class="actions">
            <li><a href="#" class="button style1">Comment</a></li>
          </ul>
        </section>
      </div>
          <% } %>
       
      </div>
      <!-- <div class="col-4 col-12-medium">
        <section class="highlight">
          <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
          <h3><a href="#">Nisl adipiscing sed lorem</a></h3>
          <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
          <ul class="actions">
            <li><a href="#" class="button style1">Learn More</a></li>
          </ul>
        </section>
      </div>
      <div class="col-4 col-12-medium">
        <section class="highlight">
          <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
          <h3><a href="#">Mattis tempus lorem</a></h3>
          <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
          <ul class="actions">
            <li><a href="#" class="button style1">Learn More</a></li>
          </ul>
        </section>
      </div> -->
    </div>
  </div>
</section>

<section id="main" class="wrapper style2">
  <div class="title">Add a Post</div>
  <div class="container">

      <div class="row mt-5">
          <div class="col-6">
              <div>
                  <p><strong>User Name</strong>: <%= user.userName %></p>
                  <p><strong>Email</strong>: <%= user.email %></p>
                  <a href="/logout" class=" btn btn-primary ">Logout</a>
              </div>
              <div class="mt-5">
                <h2>Add a post</h2>
                <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                  <div class="mb-3">
                      <label for="title" class="form-label">Title</label>
                      <input type="text" class="form-control" id="title" name="title">
                  </div>
                  <div class="mb-3">
                    <label for="caption" class="form-label">Caption</label>
                    <textarea class="form-control" id="caption" name="caption"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="imgUpload" class="form-label">Image</label>
                    <input type="file" class="form-control" id="imageUpload" name="file">
                  </div>
                  <button type="submit" class="button style1 large" value="Upload">Submit</button>
                </form>
              </div>
          </div>
          <div class="">
            <!-- <ul class="">
            <% for(var i=0; i<posts.length; i++) {%>
              <li class="">
                <a href="/post/<%= posts[i]._id%>">
                  <img class="image fit featured" src="<%= posts[i].image%>">
                </a>
              </li>
            <% } %>
            </ul> -->
            <div class="">
              <a class="button style2 large" href="/feed">Return to Feed</a>
            </div>  
        </div>  
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer') -%>