<%- include('partials/header') -%>

<section id="main" class="wrapper style2">
    <div class="title">Welcome, <%= user.userName %>, to <%= chatUser.userName %></div>
    <div class="container">
      <div class="row gtr-150">
        <div class="col-8 col-12-medium">

          <!-- Content -->
            <div id="content">
              <article class="box post">
                <header class="style1">
                  <h2><%= chatUser.greeting%></h2>
                  <p>Please enjoy your visit. The greeting above is customizable.</p>
                </header>
                <a href="#" class="image featured">
                  <img src="<%= chatUser.profilePicture%>" alt="profile picture" />
                </a>
                <p>My Story.<br>
                  
                <p><%= chatUser.story %></p>

              <header>
                <h2 class="">My most recent posts:</h2>
              </header>
              <div class="row gtr-150">
                <%if(posts.length > 0){%>
                <div class="col-6 col-12-small">
                  <section class="box">
                    <header>
                      <h2><%= posts[posts.length-1].title %></h2>
                    </header>
                    <a href="#" class="image featured"><img src="<%= posts[posts.length-1].image %>" alt="latest post" /></a>
                    <p><%= posts[posts.length-1].caption %></p>
                    <a href="#" class="button style1">See Post</a>
                  </section>
                </div>
                <%}%>
                <%if(posts.length > 2){%>
                <div class="col-6 col-12-small">
                  <section class="box">
                    <header>
                      <h2><%= posts[posts.length-2].title %></h2>
                    </header>
                    <a href="#" class="image featured"><img src="<%= posts[posts.length-2].image %>" alt="" /></a>
                    <p><%= posts[posts.length-2].caption %></p>
                    <a href="#" class="button style1">More</a>
                  </section>
                </div>
                <%}%>
              </div>
            </div>

        </div>
        <div class="col-4 col-12-medium">

          <!-- Sidebar -->
            <div id="sidebar">
              <section class="box">
                <header>
                  <h2>About Me:</h2>
                </header>
                <p><%= chatUser.about %></p>
               
              </section>
              <section class="box">
                <header>
                  <h2>My Most Liked Posts</h2>
                </header>
                <ul class="style2">
                  <li>
                    <%if(posts.length > 0){%>
                    <article class="box post-excerpt">
                      <a href="/post/<%= likedPosts[0]._id %>" class="image left"><img src="<%= likedPosts[0].image %>" alt="" /></a>
                      <h3><a href="/post/<%= likedPosts[0]._id %>"><%= likedPosts[0].title%></a></h3>
                      <p><%= likedPosts[0].caption %></p>
                    </article>
                    <%}%>
                  </li>
                  <li>
                    <%if(posts.length > 1){%>
                    <article class="box post-excerpt">
                      <a href="/post/<%= likedPosts[1]._id %>" class="image left"><img src="<%= likedPosts[1].image %>" alt="" /></a>
                      <h3><a href="/post/<%= likedPosts[1]._id %>"><%= likedPosts[1].title%></a></h3>
                      <p><%= likedPosts[1].caption %></p>
                    </article>
                    <%}%>
                  </li>
                  <li>
                    <%if(posts.length > 2){%>
                    <article class="box post-excerpt">
                      <a href="/post/<%= likedPosts[2]._id %>" class="image left"><img src="<%= likedPosts[2].image %>" alt="" /></a>
                      <h3><a href="/post/<%= likedPosts[2]._id %>"><%= likedPosts[2].title%></a></h3>
                      <p><%= likedPosts[2].caption %></p>
                    </article>
                    <%}%>
                  </li>
                </ul>
                <!-- <a href="#" class="button style1">Archives</a> -->
              </section>
              <section class="box">
                <header>
                  <h2>My Story Evolves Over Time</h2>
                </header>
                <ul class="style3">
                <% for(var i=0; i<posts.length; i++) {%>
                  <li><a href="/post/<%= `${posts[i]._id}`%>"><%= posts[i].title %></a></li>
                  <%}%>
                </ul>
               
              </section>
            </div>

        </div>
      </div>
    </div>
  </section>


       
      
  
     


<!-- Highlights -->
<section id="highlights" class="wrapper style3">
  <div class="title">In Loving Memory</div>
  <div class="container">
    <div class="row aln-center">

        <% for(var i=0; i<posts.length; i++) {%>

            <div class="col-4 col-12-medium">
              <section class="highlight">
            <a href="/post/<%= `${posts[i]._id}`%>"  class="image featured">
              <img src= "<%= posts[i].image%>">
            </a>
          <h3><a href="#"><%=posts[i].title%></a></h3>
          <p><%=posts[i].caption%></p>
          <div class="">Likes: <%= posts[i].likes %></div>
          <div class=""><a href="/profile/<%= `${posts[i].user._id}`%>">Posted by:<%=posts[i].user.userName%></a></div>
          <ul class="actions">
            <li><a href="/profile/<%= `${posts[i].user._id}`%>" class="button style1">See Profile</a></li>
          </ul>
          <h4>Comments:</h4>
          <% for(var j=0; j<comments.length; j++) {%>
            <% if( comments[j].post  == `${posts[i]._id}` ) {%>
            <p><%= comments[j].comment %></p>
            <a href="/profile/<%= `${comments[i].user._id}`%>">By: <%= comments[i].user.userName %></a>
           <%}%>
           <% } %>
          </div>
            <%}%>
           
       
      </div>
     
    </div>
  </div>
</section>


<section id="highlights" class="wrapper style2">
  <div class="title">Create New Post</div>
    <div class="container">

      
        <div class="row mt-5">
            <div class="col-6">
                <div>
                    <p><strong>User Name</strong>: <%= user.userName %></p>
                    <p><strong>Email</strong>: <%= user.email %></p>
                    
                </div>
                <div class="mt-5">
                  <h2>Add a post</h2>
                  <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="mb-3">
                      <label for="caption" class="form-label">Caption</label>
                      <textarea class="form-control" id="caption" name="caption"></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="imgUpload" class="form-label">Image</label>
                      <input type="file" class="form-control" id="imageUpload" name="file">
                    </div>
                    <div class=""></div>
                    <div class="">
                    <button type="submit" class="button style1 large" value="Upload">Submit</button>
                    <div class=""></div>
                    <a href="/logout" class="button style1 large ">Logout</a>
                    </div>
                  </form>
                </div>
            </div>
            <div class="">
              <div class="">
                <a class="button style3 large" href="/feed">Return to Feed</a>
              </div>  
            </div>  
          </div>
        </div>
      
  
    </div>

  </div>
</section>





<section id="highlights" class="wrapper style3">
    <div class="title">Our Community</div>
    <div class="container">
      <div class="row aln-center">
    
         
        </div>
        <!-- <div class="col-4 col-12-medium">
          <section class="highlight">
            <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
            <h3><a href="#">Nisl adipiscing sed lorem</a></h3>
            <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
            <ul class="actions">
              <li><a href="#" class="button style1">Learn More</a></li>
            </ul>
          </section>
        </div>
        <div class="col-4 col-12-medium">
          <section class="highlight">
            <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
            <h3><a href="#">Mattis tempus lorem</a></h3>
            <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
            <ul class="actions">
              <li><a href="#" class="button style1">Learn More</a></li>
            </ul>
          </section>
        </div> -->
      </div>
    </div>
  </section>
  






<%- include('partials/footer') -%>